<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="screen" />
    <script src="../js/index.js"></script>
    <title>Metalhead | Catalogue</title>

</head>
<body>
    <nav class="navbar" style = "background-color: black;">
      <a class="navbar-brand" href="index.html"><img src = '../metalhead5.png' style= "max-width: 200px; position:relative;"></a>
    </nav>
    <div class="container">
        <header>
        </header>
        <main>
            <div class="row justify-content-center">
              <h1>Catalogue</h1> 
             
              <div class="navbar-item" style = "right: 10; position:absolute;display: block;">
                <img src=https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png style = "width:50px"/>
                <a  href="shoppingcart.html" style = "color: crimson">Go to Shopping Cart</a>
                </div>
            </div>
            <center><img src = '../metalhead.png' style= "max-width: 150px; position:relative"></center>
            <div class="catalogue">
              <div id="article" class="article">
              </div>
  
            </div>
        </main>
        <center><footer><span><em>All rights reserved</em></span></footer></center>
    </div>
</body>
</html>
